<h1>Editar Post</h1>

<form action="/posts/<%= post._id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]" value="<%= post.title %>"></div>
    <div><input type="text" name="post[price]" value="<%= post.price %>"></div>
    <div>
        <input type="file" id="imageUpload" name="images" accept="images/*" multiple>
        <div>
            <% post.images.forEach((image, i) => { %>
                <img src="<%= image.url %>" alt="Post Image" width="100px">
                <label for="image<%= i %>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" id="image<%= i %>" class="imageDeleteCheckbox" value="<%= image.public_id %>">
            <% }); %>
        </div>
    </div>
    <div>
        <textarea name="post[description]"><%= post.description %></textarea>
    </div>
    <div><input type="text" name="post[location]" value="<%= post.location %>"></div>

    <br>

    <div><input type="submit" value="Update"></div>
</form>

<script>
    // Find post edit form
    let postEditForm = document.getElementById('postEditForm');
    // Add submit event listener to post edit form
    postEditForm.addEventListener('submit', (event) => {
        // find length of uploaded images
        let imageUploads = document.getElementById('imageUpload').files.length;
        // find total number of existing images
        let existingImages = document.querySelectorAll('.imageDeleteCheckbox').length;
        // find total number of potential image deletions
        let imageDeletions =  document.querySelectorAll('.imageDeleteCheckbox:checked').length;

        // figure out if the form can be submitted or not
        if (imageUploads <= 4) {
            let newTotalImages = existingImages - imageDeletions + imageUploads;
            if (newTotalImages > 4) {
                event.preventDefault();
                let newTotalAvg = newTotalImages - 4;
                alert(`You need to remove at least ${newTotalAvg} more image${newTotalAvg == 1 ? '' : 's'}!`);
            }
        } else {
            event.preventDefault();
            alert(`You can only upload 4 images per product!`);
        }
    });
    
</script>