<% layout('layouts/boilerplate') -%>

<h1>ALL POSTS</h1>

<% posts.forEach(post => { %>
    <h2><%=  post.title %></h2>
    <div>Price: $<%= post.price %></div>
    <div>Description: <%= post.description %></div>
    <div><em>Location: <%= post.location %></em></div>
    <div><a href="/posts/<%= post._id %>">View More</a></div>
<% }); %>