<h1><%=  post.title %></h1>
<div>Price: $<%= post.price %></div>
<div>Description: <%= post.description %></div>
<div><em>Location: <%= post.location %></em></div>
<div>
    <% post.images.forEach(image => { %>
        <img src="<%= image.url %>" alt="Post Image" width="200px">
    <% }); %>
</div>

<br>

<div style="display: flex">
    <div><a href="/posts/<%= post._id %>/edit"><button>Edit</button></a></div>
    <div>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>