<% layout('layouts/post-show-layout.ejs') -%>

<!-- Post properties -->
<h1><%=  post.title %></h1>
<div>Price: $<%= post.price %></div>
<div>Description: <%= post.description %></div>
<div><em>Location: <%= post.location %></em></div>
<div>
    <% post.images.forEach(image => { %>
        <img src="<%= image.url %>" alt="Post Image" width="200px">
    <% }); %>
</div>

<!-- Map -->
<div id='map'></div>

<!-- Edit and Delete buttons -->
<div style="display: flex">
    <div><a href="/posts/<%= post._id %>/edit"><button>Edit</button></a></div>
    <div>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
    </div>
</div>

<!-- Mapbox Scripts - Map Loader -->
<script>
    let post = <%- JSON.stringify(post) %>;
</script>
<script src="/javascripts/post-show.js"></script>