<h1><%=  post.title %></h1>
<div>Price: $<%= post.price %></div>
<div>Description: <%= post.description %></div>
<div><em>Location: <%= post.location %></em></div>
<div><a href="/posts/<%= post._id %>/edit">Edit Post</a></div>